{% extends "base.html" %}

{% block title %}Telemedicina - Paziente{% endblock %}
{% block header %}Area Paziente{% endblock %}

{% block nav %}
    <a href="{{ url_for('patient.dashboard') }}">Dashboard</a>
    <a href="{{ url_for('patient.glicemia') }}">Glicemia</a>
    <a href="{{ url_for('patient.symptoms') }}">Sintomi</a>
    <a href="{{ url_for('patient.assunzioni') }}">Assunzioni</a>
    <a href="{{ url_for('patient.concomitant') }}">Concomitanti</a>
    <a href="{{ url_for('patient.contact') }}">Contatta medico</a>
    <a href="{{ url_for('patient.notifications') }}">Notifiche</a>
    <a href="{{ url_for('auth.logout') }}">Esci</a>
{% endblock %}
